doctype html
html(lang='en')
  div(style='background-color:#2b3e50;color:white;padding:20px;')
    h2(style='color:orange')
      li Api Information
    p
      | <strong>ID</strong> 		: #{list.id}
    p
      | <strong>Title</strong> 	:#{list.title}
    p
      | <strong>Summary </strong>: #{list.summary}
    p
      | <strong>Rating 	</strong>:#{list.rating}
    p
      | <strong>Name</strong> 	: #{list.name}
    p
      | <strong>Label </strong>	:#{list.label}
    p
      | <strong>Author</strong> 	: #{list.author}
    p
      | <strong>Description </strong>	:#{list.description}
    p
      | <strong>Type</strong>	: #{list.type}
    p
      | <strong>Downloads</strong>	:#{list.downloads}
    p
      |<strong> UseCount </strong>	: #{list.useCount}
    p
      | <strong>SampleURL </strong>	:#{list.sampleUrl}
    p
      | <strong>DownloadUrl	</strong>	: #{list.downloadUrl}
    p
      | <strong>DateModified </strong>	:#{list.dateModified}
    p
      | <strong>RemoteFeed </strong>		: #{list.remoteFeed}
    p
      | <strong>Number of Comment </strong>	:#{list.numComment}
    p
      |<strong> CommentsUrl	</strong>: #{list.commentsUrls}
    p
      | <strong>Service Endpoint</strong> 	:#{list.serviceEndpoint}
    p
      |<strong> Version</strong> 		: #{list.version}
    p
      | <strong>WSDL </strong>	:#{list.wsdl}
    p
      | <strong>DataFormats </strong>		: #{list.dataFormats}
    p
      | <strong>ApiGroups</strong>	:#{list.apigroups}
    p
      | <strong>Example </strong>		: #{list.example}
    p
      | <strong>SSL </strong>	:#{list.ssl}
    p
      |<strong> readonly </strong>		: #{list.readonly}
    p
      | <strong>VendorApiKits</strong> 	:#{list.VendorApiKits}
    p
      |<strong> ClientInstall</strong> 	:#{list.clientInstall}
    p
      | <strong>Authentication</strong>	: #{list.authentication}
    p
      | <strong>CommunityApiKits </strong>		: #{list.CommunityApiKits}
    p
      |<strong> Blog </strong>	:#{list.blog}
    p
      | <strong>Forum	</strong>	: #{list.forum}
    p
      |<strong> Support	</strong>:#{list.support}
    p
      | <strong>AccountReq </strong>		: #{list.accountReq}
    p
      | <strong>Commercial</strong> 	:#{list.commercial}
    p
      |<strong> Provider</strong>	: #{list.provider}
    p
      | <strong>ManagedBy </strong>	:#{list.managedBy}
    p
      |<strong> Non Commercials</strong> 		: #{list.nonCommercial}
    p
      |<strong> Data Licensing </strong>	:#{list.dataLicensing}
    p
      | <strong>Fees	</strong>	: #{list.fees}
    p
      |<strong> Limits</strong> 	:#{list.limits}
    p
      | <strong>Terms 	</strong>	: #{list.terms}
    p
      |<strong> Company </strong>	:#{list.company}
    p
      | <strong>Updated Year</strong> : #{list.updated}
   