doctype html
html(lang='en')
  div(style='background-color:#2b3e50;color:white;padding:20px;')
    h2(style='color:orange') 
      li Mashup Information
    p
      | <strong>ID</strong> 		: #{list.id}
    p
      | <strong>Title</strong> 	:#{list.title}
    p
      | <strong>Summary </strong>: #{list.summary}
    p
      | <strong>Rating 	</strong>:#{list.rating}
    p
      | <strong>Name</strong> 	: #{list.name}
    p
      | <strong>Label </strong>	:#{list.label}
    p
      | <strong>Author</strong> 	: #{list.author}
    p
      | <strong>Description </strong>	:#{list.description}
    p
      | <strong>Type</strong>	: #{list.type}
    p
      | <strong>Downloads</strong>	:#{list.downloads}
    p
      |<strong> UseCount </strong>	: #{list.useCount}
    p
      | <strong>SampleURL </strong>	:#{list.sampleUrl}
    p
      | <strong>DateModified </strong>	:#{list.dateModified}
    p
      | <strong>Number of Comment </strong>	:#{list.numComments}
    p
      |<strong> CommentsUrl	</strong>: #{list.commentsUrls}
    p
      |<strong> Api </strong>: #{list.api}
    p
      |<strong> ApiUrl </strong>: #{list.url}
    p
      |<strong> Tag</strong>: #{list.tag}
    p
      | <strong>Updated Year</strong> : #{list.updated}
   